/* Здесь используются глобальные переменные */

/* Colors */

$bg-color-primary: #ffffff;
$bg-color-secondary: #f8f8f8;
$bg-color-accent-milky: #f3ebe1;
$bg-color-accent-violet: #eae6fc;
$bg-color-accent-violet-subtle: #f0ebff;
$bg-color-accent-grey: #e5e6e8;

$text-color-primary: #333333;
$text-color-secondary: #bdbdbd;
$text-color-accent: #7859cf;
$text-color-accent-subtle: #9070ec;
$text-color-accent-bold: #593cac;
$text-color-inverse: #ffffff;

$button-color-primary: #7859cf;
$button-color-primary-subtle: #9070ec;
$button-color-primary-bold: #593cac;
$button-color-primary-disabled: #bdbdbd;
$button-color-secondary: #ffffff;
$button-color-secondary-disabled: #e2e2e2;

$icon-color-primary: #333333;
$icon-color-primary-subtle: #bdbdbd;
$icon-color-accent: #7859cf;
$icon-color-accent-bold: #593cac;
$icon-color-inverse: #ffffff;

$input-color-primary: #9070ec;
$input-color-primary-bold: #7859cf;
$input-color-primary-bolder: #593cac;
$input-color-secondary: #bdbdbd;
$input-color-secondary-disabled: #e2e2e2;

$border-color-primary: #f0ebff;
$border-color-accent: #7859cf;

$shadow-color-primary: rgba(0, 0, 0, 0.15);

/* Viewports */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* Fonts */

$font-montserrat: "Montserrat", "Arial", sans-serif;

/* Animation */

$transition-fast: 150ms;
$transition-slow: 400ms;
