/* Классы для блока с контактами */

.contacts {
  @media (min-width: $desktop-width) {
    grid-row: 1/4;
    grid-column: 4/5;
  }
}

.contacts__title {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: $text-color-accent;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  font-style: normal;
}

.contacts__item {
  display: flex;
  gap: 6px;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 13px;
    height: 16px;
    margin-top: 2px;
    background-size: 13px 16px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  /* Пункт меню с адресом */
  &--address {
    margin: 0;

    &::before {
      background-image: url("../../icons/address.svg");
    }
  }

  /* Пункт меню с телефоном */
  &--tel {
    color: $text-color-primary;

    &::before {
      background-image: url("../../icons/phone.svg");
    }

    &:hover {
      color: $text-color-accent;
    }

    &:active {
      color: $text-color-accent-bold;
    }
  }
}
