/* Классы для главного блока с новинками товаров */

.hero {
  position: relative;
}

.hero__slides {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -------------------------------------------------------- */
/* Элемент слайдера */
/* -------------------------------------------------------- */

.hero__slide {
  display: none;
  grid-template-columns: 1fr;
  padding: 20px 20px 60px;
  text-align: center;

  /* Фон слайда. Растягивается на всю ширину viewport */
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    top: 0;
    bottom: 0;
    margin-left: -50vw;
    left: 50%;

    @media (min-width: $tablet-width) {
      margin-bottom: 188px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 60px 80px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 600px 1fr;
    column-gap: 30px;
    padding: 30px 80px 84px 105px;
    text-align: left;
  }

  &--active {
    display: grid;
  }

  &--white::before {
    background-color: $bg-color-accent-milky;
  }

  &--violet::before {

    background-color: $bg-color-accent-violet;
  }

  &--black::before {
    background-color: $bg-color-accent-grey;
  }
}

/* -------------------------------------------------------- */
/* Фото товара */
/* -------------------------------------------------------- */

picture:has(.hero__image) {
  display: grid;
  grid-row: 1/2;
  justify-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    grid-row: 5/6;
    margin: 20px 0 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/6;
    margin: 0;
  }
}

.hero__image {
  display: block;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 476px;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

/* -------------------------------------------------------- */
/* Текстовый контент */
/* -------------------------------------------------------- */

.hero__eyebrow {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 150px;
  }
}

.hero__title {
  margin: 4px 0 0;
}

.hero__description {
  margin: 10px 0 0;

  @media (min-width: $tablet-width) {
    margin: 16px 0 0;
    font-size: 20px;
    line-height: 32px;
  }
}

/* Цена */

.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    justify-content: start;
    margin-top: 40px;
  }
}

.hero__price {
  min-width: 40px;
  line-height: 32px;
  overflow-wrap: anywhere;

  &::after {
    content: "₽";
  }

  &--before {
    margin-right: 6px;
    font-size: 16px;
    color: $text-color-accent;
    text-decoration: line-through;
  }

  &--after {
    font-size: 20px;
    font-weight: 600;
  }
}

/* -------------------------------------------------------- */
/* Управляющие элементы слайдера */
/* -------------------------------------------------------- */

.hero__button {
  margin-left: 20px;
  align-self: self-start;

  &.disabled {
    background-color: $button-color-primary-disabled;
    pointer-events: none;
    cursor: default;
  }
}

.hero__controls {
  justify-content: center;
  display: none;
  z-index: 9;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    bottom: 60px;
  }
}

/* Шаги в слайдере по количеству карточек */

.hero__step {
  padding: 10px 0;
  border: none;
  background-color: transparent;

  &::before {
    content: "";
    display: block;
    width: 62px;
    height: 4px;
    background-color: $bg-color-primary;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: rgba($button-color-primary, 0.25);
  }

  &:active::before {
    background-color: $button-color-primary;
  }

  &--current::before {
    background-color: $button-color-primary;
  }
}

/* Стрелки слайдера */

.hero__arrow {
  position: absolute;
  top: 50%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  pointer-events: auto;

  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $icon-color-accent;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    mask-image: url("../../icons/arrow.svg");
  }

  &:hover {
    background-image: linear-gradient(to right, $button-color-secondary, transparent);
  }

  &:focus-visible,
  &:active {
    background-image: linear-gradient(to right, rgba($button-color-primary, 0.25), transparent);
  }

  &:disabled {
    cursor: default;
    pointer-events: none;

    &::before {
      background-color: $icon-color-primary-subtle;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    border-bottom: 188px solid $bg-color-primary;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px;
    border-bottom: none;
  }

  &--prev {
    inset-inline-start: 0;
  }

  &--next {
    inset-inline-end: 0;
    transform: scaleX(-1) translateY(-50%);
  }
}
