/* Классы для page */

.page__body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* Устанавливаем фиксированную ширину контента и центрируем */

.page__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  max-width: $mobile-width;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}
