/* Классы для блока с пагинацией каталога */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__button {
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  max-width: 150px;
  padding: 8px;
  overflow-wrap: anywhere;

  &--current {
    font-weight: 600;
    color: $text-color-primary;
    background-color: transparent;
    pointer-events: none;
  }

  &--prev::before,
  &--next::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: $icon-color-accent;
    mask-image: url("../../icons/arrow-sm.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 10px 10px;
    transition: background-color $transition-fast;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--prev:hover::before,
  &--next:hover::before,
  &--prev:focus-visible::before,
  &--next:focus-visible::before,
  &--prev:active::before,
  &--next:active::before {
    background-color: $icon-color-inverse;
  }

  &--prev:disabled::before,
  &--next:disabled::before {
    background-color: $icon-color-inverse;
  }

  // Развороты стрелок
  &--prev::before {
    transform: rotate(90deg);
  }

  &--next::before {
    transform: rotate(-90deg);
  }
}

/* Подпись к стрелке */

.pagination__label {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 12px;
  }
}
