/* Классы для списка социальных сетей */

.social {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    place-content: start flex-start;
  }
}

/* Обертка для иконки */

.social__item {
  border-radius: 4px;
  transition: $transition-fast;

  /* Меняем фон обертки при взаимодействии с иконкой */
  &:hover,
  &:focus-within {
    background-color: $bg-color-accent-violet-subtle;
  }
}

.social__item:has(.social__icon:active) {
  background-color: rgba($button-color-primary, 0.25);
  transition: $transition-fast;
}

/* -------------------------------------------------------- */
/* Иконка */
/* -------------------------------------------------------- */

.social__icon {
  outline: none;

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: $icon-color-primary-subtle;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 20px 20px;
    transition: $transition-fast;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: $icon-color-accent;
      transition: $transition-fast;
    }
  }

  &--vk::before {
    mask-image: url("../../icons/vk.svg");
  }

  &--pinterest::before {
    mask-size: 22px 22px;
    mask-image: url("../../icons/pinterest.svg");
  }

  &--ok::before {
    mask-image: url("../../icons/ok.svg");
  }
}
