/* Классы для заголовков */

.title {
  @include font-settings($font-montserrat, normal, 700, 18, 32);

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  /* Варианты размеров заголовков */
  /* Маленький */
  &--sm {
    font-size: 16px;
    line-height: 24px;
  }

  /* Большой */
  &--lg {
    font-size: 24px;
    line-height: 36px;

    @media (min-width: $tablet-width) {
      font-size: 42px;
      line-height: 64px;
    }
  }

  /* Самый большой */
  &--xl {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      line-height: 80px;
    }
  }
}
